# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/

# Virtual environments
.venv/
venv/
env/

# Build output
build/
dist/
*.spec.tmp

# PyInstaller
*.manifest
*.pkg

# IDEs
.idea/
.vscode/

# Xcode user state
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/